#page {
    display: flex;
}

#logo{
    margin-top: 20px;
}

nav {
    background-color: rgba(0, 0, 0, 0.781);
    width: 400px;
    text-align: center;
    white-space: nowrap;
}
nav ul{
    list-style-type: none;
    padding: 0;
    
}
nav ul li{
    color: #fff;
    padding: 10px;
}

a{
    text-decoration: none;
}
nav a :hover{
    background-color: gray;
    scale: 1.1;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
}
nav a :active{
    background-color: rgb(239, 0, 0);
}

header{
    text-align: end;
}
header button{
    margin-right: 50px;
}


#right{
    display: flex;
    flex-direction: column;
    width: 100%
}

header{
    background-color: white;
    height: 30px;
    text-align: end;
    align-content: center;
}

header>button{
    margin-right: 50px;
}

main{
    padding-left: 100px;
    padding-right: 0px;
    background-color:lightgray;
}

#upSection{
    border: rgb(213, 211, 211) 2px solid;
    margin: 20px 0px ;
    width: 90%;
    border-radius: 5px;
    background-color: white;
    
    
}

#workspace{
    border-bottom: solid rgb(213, 211, 211) 2px;
    padding:  10px 0px 10px 0px;
}

button{
    cursor: pointer;
}
.dataButton{
    background-color: #fff;
    width: 100px;
    height: 25px;
    border-radius: 3px 3px 3px 3px;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
}

#searchTitle{    
    margin-left: 10px;
    font-weight: bold;
}

#searchBar{
    display: flex;
    margin-left: 10px;
    margin-bottom:10PX;
}

#searchinput{
    height: 20px;
    width: 400px;
}

#search{
    width: 100px;
    height: 25px;
    background-color:deepskyblue;
    color: white;
    border-radius: 3px 3px 3px 3px;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
    border: none;
}
#selected{
    display: flex;
}


#selectTypes{
    width: 200px;

}

#data{
    margin-bottom: 20px;
}

table {
    width: 90%;
    background-color: white;
    border-collapse: collapse;
    border-radius: 5px;
    
}

thead {
    display: table;
    width: 100%;
    table-layout: fixed;
    position: sticky;
    top: 0;
    z-index: 1;
}

tbody {
    display:block;
    overflow: scroll;
    max-height: 300px;
    max-width: 100%;
    width: calc(100%-1rem);
}

tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody tr:nth-child(odd) {
    background-color: rgb(214, 214, 214);
}

tbody tr:nth-child(even) {
    background-color:ghostwhite;
}

tbody tr:hover {
    background-color:wheat;
}

th {
    text-align:left;
}


td{
    text-align: center;
    border-bottom: 1px solid gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


th,td{
    border: solid black 2px;
}


section:last-child{
    border-bottom: none;
}

#data img{
    width: 80px;
    height: 100px;;
} 
/* <!-- 表格內照片-->  */





/* 調整tr寬度區  */

/* 調整tr寬度區 */




#changePage{
    display: flex;
    list-style: none;

}

.pageNumber{
    padding: 5px;
    margin: 5px;
    border: 1px black solid;
    border-radius: 5px;
}
